.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.parent{
  
  width: 100vw;
  height: 100vh;
  transition: all;
  transition-duration: 0.5s;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-top{
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-top > .heading{
  font-size: 24px;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 2px;
} 

.main-bottom{
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  display: none;
}

.noresult, .loading{
  
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c3493;
}

@media (max-width: 480px) {

  .main-top {
    height: 20%;
  }
  .main-top > .heading{
    font-size: 20px;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 2px;
  }

  .main-bottom {
    height: 70%;
  }

}